* {
    box-sizing: border-box;
}
body{
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}
.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}
.menu-link {
    color: white;
    text-decoration: none;
}
.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}
.menu-item {
    margin-right: 25px;
}
.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}
.header {
    padding-bottom: 60px;
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), 
    url('../img/bg.jpg') no-repeat center top / cover;
}
.m-menu {
    display: none;
}
.nav {
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.user {
    margin-left: auto;
    color: #fff;
    display: flex;
    align-items: center;
}
.film {
    margin-top: 60px;
    color: #fff;
}
.film-title-small {
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}
.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}
.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}
.film {
    display: flex;
    align-items: center;
}
.film-trailer {
    margin: auto;
}
.film-details {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.time {
    display: flex;
    align-items: center;
}
.time-icon {
    margin-right: 14px;
}
.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}
.rating-icon {
    margin-right: 14px;
}
.rating-current {
    font-size: 24px;
    line-height: 150%;
}
.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.session-label {
    display: block;
    margin-bottom: 20px;
}
.session-date-block {
    display: flex;
}
.session-date-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
}
.session-month {
    font-size: 16px;
    line-height: 19px;
}
.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}
.session-week {
    font-size: 19px;
    line-height: 22px;
}
.session-date-item:hover {
    background-color: #FE8E05;
    color: #621402;
}
.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}
.select-cinema {
    width: 470px;
}
.scheme {
    margin-bottom: 40px;
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
}
.scheme-svg {
    max-width: 1170px;
}
.scheme path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.scheme path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}
.scheme path.booked, .scheme path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}
.scheme path.active, .scheme path.active:hover {
    fill: #FE8E05;
}
.legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255,255,255, 0.5);
    max-width: 1024px;
    width: 90%;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
}
.legend-label {
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.5);
}
.legend svg {
    margin-right: 15px;
}
.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}
.price-tag {
    font-size: 52px;
    line-height: 61px;
}
.button {
    display: block;
    background: #FE8E05;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    text-decoration: none;
}
@media (max-width: 1280px) , (height: 800px) {
    .container {
        max-width: 960px;
    }
    .select-cinema {
        width: 100%;
    }
}
@media (max-width: 1024px), (height: 600px) {
    .container {
        max-width: 950px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session-cinema {
        order: 2;
    }
    .menu-item {
        margin-right: 20px;
    }
    .legend {
        display: flex;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .session {
        flex-wrap: wrap;
    }
    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session-time {
        order: 3;
    }
    .session-cinema {
        order: 2;
    }
    .menu-item {
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color: #621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.5s, transform 0.5s;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .m-menu {
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .film-description {
        margin-right: 30px;
    }
    .film {
        flex-direction: column;
    }
    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;
    }
}
@media (max-width: 375px), (height: 667px) {
    .container {
        max-width: 300px;
    }
    .session-date-block {
        max-width: 320px;
    }
    .session-time {
        padding-top: 20px;
    }
    .button {
        padding: 15px;
        padding-left: 10px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: inline;
    }
}
@media (max-width: 414px), (height: 896px) {
    .container {
        max-width: 350px;
    }
    .session-date-block {
        max-width: 320px;
    }
    .session-time {
        padding-top: 20px;
    }
    .button {
        padding: 15px;
        padding-left: 10px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
}
@media (max-width: 360px), (height: 740px) {
    .container {
        max-width: 300px;
    }
    .session-date-block {
        max-width: 320px;
    }
    .session-time {
        padding-top: 20px;
    }
    .button {
        padding: 15px;
        padding-left: 10px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: inline;
    }
}
@media (max-width: 540px), (height: 720px) {
    .container {
        max-width: 480px;
    }
    .session-date-block {
        max-width: 320px;
    }
    .button {
        padding: 15px;
        margin-left: 50px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: flex;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: inline;
    }
}
@media (max-width: 412px), (height: 912px) {
    .container {
        max-width: 480px;
    }
    .session-date-block {
        max-width: 320px;
    }
    .button {
        padding: 15px;
        margin-left: 50px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: inline;
    }
}
@media (max-width: 280px), (height: 599px) {
    .container {
        max-width: 230px;
    }
    .session-date-block {
        max-width: 250px;
    }
    .session-time {
        padding-top: 20px;
    }
    .film-title {
        font-size: 30px;
    }
    .film-description {
        margin-right: 0px;
    }
    .button {
        padding: 15px;
        padding-left: 10px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: flex;
    }
}
@media (max-width: 390px), (height: 844px) {
    .container {
        max-width: 360px;
    }
    .session-date-block {
        max-width: 250px;
    }
    .film-title {
        font-size: 30px;
    }
    .film-description {
        margin-right: 0px;
    }
    .button {
        padding: 15px;
        padding-left: 10px;
        text-align: center;
    }
    .price-total {
        max-width: 5px;
    }
    .legend {
        display: block;
    }
    .legend-label {
        padding-top: 0px;
        margin-top: 10px;
    }
    .price-tag {
        font-size: 30px;
    }
    .price-total {
        font-size: 30px;
    }
    .price-label {
        display: flex;
    }
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  details {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }